NodeRed/RIIM_SLIP_Example_NodeRed.json
[
    {
        "id": "fcbb24dc.49523",
        "type": "tab",
        "label": "RIIM SLIP Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "949130d8.688ee8",
        "type": "coap in",
        "z": "fcbb24dc.49523",
        "method": "PUT",
        "name": "",
        "server": "4f40af23.8f5648",
        "url": "/CommData",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "b4b971ae.b3121"
            ]
        ]
    },
    {
        "id": "bbdce846.598868",
        "type": "debug",
        "z": "fcbb24dc.49523",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "b4b971ae.b3121",
        "type": "function",
        "z": "fcbb24dc.49523",
        "name": "",
        "func": "function ArrayToIPv6String (payload) {\n    DestAddr=\"\"\n    for(let i=0;i<16;i+=2){\n        DestAddr += payload[i].toString(16).length < 2 ? \"0\" + payload[i].toString(16) : payload[i].toString(16)\n        DestAddr += payload[i+1].toString(16).length < 2 ? \"0\" + payload[i+1].toString(16) : payload[i+1].toString(16)\n        if(i<14){\n            DestAddr += \":\"\n        }\n    }\n    return DestAddr\n}\n\nNodeAddr=msg.req.payload\nNodeAddr_Str=ArrayToIPv6String(NodeAddr)\n\nconsole.log(\"COMMISIONING:\\nWe got address from node:\" + NodeAddr_Str)\nconsole.log(\"Sending response back to node.\")\n\n// Send response:\nmsg.res.end(\"{\\\"Res\\\":\\\"Registered\\\"}\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "bbdce846.598868"
            ]
        ]
    },
    {
        "id": "bbdb2659.df2768",
        "type": "coap in",
        "z": "fcbb24dc.49523",
        "method": "PUT",
        "name": "",
        "server": "4f40af23.8f5648",
        "url": "/ServerData",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "d025b618.3e3458",
                "2d18c6dc.326b3a"
            ]
        ]
    },
    {
        "id": "d025b618.3e3458",
        "type": "debug",
        "z": "fcbb24dc.49523",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "2d18c6dc.326b3a",
        "type": "function",
        "z": "fcbb24dc.49523",
        "name": "",
        "func": "console.log(\"Got message from \" + msg.req.rsinfo.address + \" : \")\n//console.log()\nconsole.log(msg.req.payload.toString())\nconsole.log()\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4f40af23.8f5648",
        "type": "coap-server",
        "name": "CoAPServer",
        "port": "5683"
    }
]
